body{
    background: #f5d9d5;
    font-family: 'Permanent Marker', cursive;
}
.navbar-brand{
    padding: 12px 10px;
    font-weight: 400;
    font-size: 1.5rem;
    color:#ea1c2c;
}
.navbar-nav{
    padding: 12px 10px;
    color: white;
    font-size: 1.2rem;

}
#mainnavbar .nav-link{
    color: white;
}
#mainnavbar .nav-link:hover{
    color: #ea1c2c;
}
#headinggroup span{
    color: #ea1c2c;
}
#headinggroup div{
    font-size: 55px;
    font-weight: 100;
}
.indus{
    margin-top: 30px;
}